<footer id="layout-footer">
  <div class="container">
    <ul>
      <li class="title">关于梯电</li>
      <li><a href="/about/abstract">公司简介</a></li>
      <li><a href="/about/manage">公司治理</a></li>
      <li><a href="/about/join">梯电招聘</a></li>
      <li><a href="/about/contact">联系梯电</a></li>
    </ul>
    <ul>
      <li class="title">新闻&展会</li>
      <li><a href="/news/list">公司新闻</a></li>
      <li><a href="/meet/list">展会活动</a></li>
      <li><a href="/about/contact">媒体联系</a></li></li>
    </ul>
    <ul class="margin-right-0">
      <li class="title">产品服务</li>
      <li><a href="/guonei">国内媒体</a></li>
      <li><a href="/guowai">海外媒体</a></li>
      <li><a href="/story/list">成功故事</a></li>
    </ul>
    <div style="margin-top: 20px">
      客服电话：021-50207135&nbsp;&nbsp;&nbsp;&nbsp;8:30-18:30
    </div>
  </div>
</footer>
