<footer id="layout-footer">
  <div class="container">
    <ul>
      <li class="title">关于梯电</li>
      <li>公司简介</li>
      <li>公司治理</li>
      <li>梯电招聘</li>
      <li>联系梯电</li>
    </ul>
    <ul>
      <li class="title">新闻&展会</li>
      <li>公司新闻</li>
      <li>展会活动</li>
      <li>媒体联系</li>
    </ul>
    <ul class="margin-right-0">
      <li class="title">产品服务</li>
      <li>国内媒体</li>
      <li>海外媒体</li>
      <li>合作客户</li>
      <li>成功故事</li>
    </ul>
  </div>
</footer>
