<!DOCTYPE html>
<html>
<head>
  <title>2018全球智能+新商业峰会 - EM梯电传媒</title>
  <%- include("../_include/head.ejs") %>
  <!--webpack_style_placeholder-->
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="132">
  <%- include("../_include/header.ejs") %>
  <div id="layout-main"></div>
  <%- include("../_include/footer.ejs") %>
  <!--webpack_script_placeholder-->
</body>
</html>
