<header id="layout-header" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="brand" src="./images/logo.png" width="120">
      </a>
    </div>
    <nav class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about/join">梯电招聘<img src="./images/skipout.png" alt="ico" width="16" height="16"></a>
        </li>
        <li>
          <a href="/about/abstract">关于梯电<img src="./images/skipout.png" alt="ico" width="16" height="16"></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right -center">
        <li class="dropdown">
          <a href="/guonei">国内电梯媒体平台<img src="./images/down.png" alt="ico" width="16" height="16"></a>
        </li>
        <li class="dropdown">
          <a href="/guowai">海外电梯媒体平台<img src="./images/down.png" alt="ico" width="16" height="16"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
